Excel Extractor. For Years 4/5/6 of the Maternity Incentive Scheme there are folders that hold the MIS returns from each trust. This is a multitab excel worksheet. The information of interest sits on a single tab, and includes, the declared compliance with each safety action (1-10), the existence of an action plan for safety action (1-10) and any funds requested to meet the saferty action. 
This script extracts this information per trust (per excel spreadsheet), stores in a list and final creates a df and writes out as csv

In [11]:
#append warnings as each append cause warning seen in cell below
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import os
import pyxlsb

ModuleNotFoundError: No module named 'pyxlsb'

"""FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[11][3])"""

In [ ]:
#Empty list to hold values extracted from Excel
all_values=[]

get_excel_values(filename), creates a df of the relevent sheet in file 'D_Board Declaration Form'. The df.iloc values reference the relevent cells in the work sheet. These are added to a list and finally the whole list is added to all_values list

In [1]:
def get_excel_values(filename):
    df = pd.read_excel(filename, sheet_name= 'D_Board Declaration Form')
    values= []
    values.append(df.iloc[5][2])
    values.append(df.iloc[4][2])
    values.append(df.iloc[11][3])
    values.append(df.iloc[12][3])
    values.append(df.iloc[13][3])
    values.append(df.iloc[14][3])
    values.append(df.iloc[15][3])
    values.append(df.iloc[16][3])
    values.append(df.iloc[17][3])
    values.append(df.iloc[18][3])
    values.append(df.iloc[19][3])
    values.append(df.iloc[20][3])

    values.append(df.iloc[11][4])
    values.append(df.iloc[12][4])
    values.append(df.iloc[13][4])
    values.append(df.iloc[14][4])
    values.append(df.iloc[15][4])
    values.append(df.iloc[16][4])
    values.append(df.iloc[17][4])
    values.append(df.iloc[18][4])
    values.append(df.iloc[19][4])
    values.append(df.iloc[20][4])

    values.append(df.iloc[11][6])
    values.append(df.iloc[12][6])
    values.append(df.iloc[13][6])
    values.append(df.iloc[14][6])
    values.append(df.iloc[15][6])
    values.append(df.iloc[16][6])
    values.append(df.iloc[17][6])
    values.append(df.iloc[18][6])
    values.append(df.iloc[19][6])
    values.append(df.iloc[20][6])
    all_values.append(values)

In [2]:
#Test to show correct values collected in list. 
get_excel_values("Read//T684.xlsx")
print(all_values)

NameError: name 'pd' is not defined

In [3]:
#Re-initialise to start with an empty list if test cell above has been used
all_values=[]

print_file_names(folder_path), OS walk of the provided folder. Will complete get_excel_values for each excel worksheet in the file. Currently folder needs to be hard coded in file_path and

In [9]:



def print_file_names(folder_path):
    for filename in os.listdir(folder_path):
        print(filename)
        file_path= (folder_path + "//" + filename)
        get_excel_values(file_path)

# Example usage
folder_path = 'Read_Y5'
print_file_names(folder_path)

F001.xlsx
T011.xlsx
T013.xlsx
T014.xlsx
T016.xlsx
T020.xlsx
T022.xlsx
T028.xlsx
T029.xlsx
T035.xlsx
T050.xlsx
T066.xlsx
T068.xlsx
T074.xlsx
T075.xlsx
T076.xlsx
T091.xlsx
T096.xlsx
T099.xlsx
T100.xlsx
T106.xlsx
T114.xlsx
T123.xlsx
T139.xlsx
T145.xlsx
T150.xlsx
T164.xlsx
T173.xlsx
T177.xlsx
T178.xlsx
T184.xlsx
T199.xlsx
T205.xlsx
T213.xlsx
T217.xlsx
T221.xlsx
T235.xlsx
T236.xlsx
T246.xlsx
T249.xlsx
T250.xlsx
T262.xlsx
T264.xlsx
T267.xlsx
T277.xlsx
T285.xlsx
T301.xlsx
T309.xlsx
T318.xlsx
T320.xlsx
T321.xlsx
T331.xlsx
T332.xlsx
T339.xlsx
T350.xlsx
T351.xlsx
T359.xlsx
T362.xlsx
T383.xlsx
T389.xlsx
T393.xlsx
T398.xlsx
T411.xlsx
T422.xlsx
T455.xlsx
T456.xlsx
T457.xlsx
T460.xlsx
T462.xlsx
T463.xlsx
T466.xlsx
T467.xlsx
T468.xlsx
T487.xlsx
T489.xlsx
T491.xlsx
T492.xlsx
T504.xlsx
T521.xlsx
T541.xlsx
T554.xlsx
T559.xlsx
T562.xlsx
T564.xlsx
T565.xlsx
T567.xlsx
T569.xlsx
T571.xlsb

ImportError: Missing optional dependency 'pyxlsb'.  Use pip or conda to install pyxlsb.

In [19]:
folder_list=[]

In [20]:

import os

def print_file_names(folder_path):
    for filename in os.listdir(folder_path):
        folder_list.append(filename)
       

# Example usage
folder_path = 'Read_Y5'
print_file_names(folder_path)

In [21]:
folder_list

['F001.xlsx',
 'T011.xlsx',
 'T013.xlsx',
 'T014.xlsx',
 'T016.xlsx',
 'T020.xlsx',
 'T022.xlsx',
 'T028.xlsx',
 'T029.xlsx',
 'T035.xlsx',
 'T050.xlsx',
 'T066.xlsx',
 'T068.xlsx',
 'T074.xlsx',
 'T075.xlsx',
 'T076.xlsx',
 'T091.xlsx',
 'T096.xlsx',
 'T099.xlsx',
 'T100.xlsx',
 'T106.xlsx',
 'T114.xlsx',
 'T123.xlsx',
 'T139.xlsx',
 'T145.xlsx',
 'T150.xlsx',
 'T164.xlsx',
 'T173.xlsx',
 'T177.xlsx',
 'T178.xlsx',
 'T184.xlsx',
 'T199.xlsx',
 'T205.xlsx',
 'T213.xlsx',
 'T217.xlsx',
 'T221.xlsx',
 'T235.xlsx',
 'T236.xlsx',
 'T246.xlsx',
 'T249.xlsx',
 'T250.xlsx',
 'T262.xlsx',
 'T264.xlsx',
 'T267.xlsx',
 'T277.xlsx',
 'T285.xlsx',
 'T301.xlsx',
 'T309.xlsx',
 'T318.xlsx',
 'T320.xlsx',
 'T321.xlsx',
 'T331.xlsx',
 'T332.xlsx',
 'T339.xlsx',
 'T350.xlsx',
 'T351.xlsx',
 'T359.xlsx',
 'T362.xlsx',
 'T383.xlsx',
 'T389.xlsx',
 'T393.xlsx',
 'T398.xlsx',
 'T411.xlsx',
 'T422.xlsx',
 'T455.xlsx',
 'T456.xlsx',
 'T457.xlsx',
 'T460.xlsx',
 'T462.xlsx',
 'T463.xlsx',
 'T466.xlsx',
 'T467.xlsx',
 'T468.xlsx',
 'T487.xlsx',
 'T489.xlsx',
 'T491.xlsx',
 'T492.xlsx',
 'T504.xlsx',
 'T521.xlsx',
 'T541.xlsx',
 'T554.xlsx',
 'T559.xlsx',
 'T562.xlsx',
 'T564.xlsx',
 'T565.xlsx',
 'T567.xlsx',
 'T569.xlsx',
 'T571.xlsb',
 'T572.xlsx',
 'T575.xlsx',
 'T578.xlsx',
 'T581.xlsx',
 'T586.xlsx',
 'T587.xlsx',
 'T588.xlsx',
 'T600.xlsx',
 'T601.xlsx',
 'T603.xlsx',
 'T619.xlsx',
 'T621.xlsx',
 'T632.xlsx',
 'T633.xlsx',
 'T636.xlsx',
 'T638.xlsx',
 'T644.xlsx',
 'T645.xlsx',
 'T650.xlsb',
 'T654.xlsx',
 'T670.xlsx',
 'T673.xlsx',
 'T679.xlsx',
 'T680.xlsx',
 'T682.xlsx',
 'T683.xlsx',
 'T684.xlsx',
 'T687.xlsx',
 'T688.xlsx',
 'T690  .xlsx',
 'T691.xlsx',
 'T694.xlsx']

In [22]:
df_listorg = pd.DataFrame(data= folder_list)

In [24]:
df_listorg.to_csv('year5list.csv')

In [6]:
print(all_values)

[['F001', 'Hampshire Hospitals NHS Foundation Trust ', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T011', 'The Norfolk and Norwich University Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T013', 'University Hospitals Coventry and Warwickshire NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T014', 'George Eliot Hospital NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T016', 'University Hospital of North Midlands NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T020', 'South Warwickshire NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T022', 'Cambridge University Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T028', 'West Suffolk NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T029', 'Portsmouth Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T035', 'Medway NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T050', 'Tameside and Glossop Integrated Care NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, 'Yes', nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T066', 'Northern Care Alliance NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T068', 'Northampton General Hospital NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', nan, nan, nan, nan, nan, 'Yes', nan, 'Yes', nan, nan, 0, 0, 0, 0, 0, 240168, 0, 59663, 0, 0], ['T074', 'Royal Devon University Healthcare NHS Foundation Trust', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, 'Yes', nan, 83585, 0, 0, 0, 0, 0, 0, 0, 102071, 0], ['T075', 'University Hospital Southampton NHS Foundation Trust ', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, 'Yes', nan, nan, nan, 'Yes', nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T076', 'University Hospitals Bristol NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T091', 'Homerton Healthcare NHS Foundation Trust', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Yes', nan, nan, 'Yes', nan, nan, 'Yes', 'Yes', 'Yes', 'Yes', nan, 0, 0, 74603, 0, 0, 354411, 68189, 143775, 38674, 0], ['T096', 'North Middlesex University Hospital NHS Trust', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, 'Yes', 401240, 0, 0, 0, 0, 0, 0, 0, 0, 334000], ['T099', 'Walsall Healthcare NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T100', 'Bedfordshire Hospitals NHS Foundation Trust ', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T106', 'Royal Berkshire NHS Foundation Trust', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T114', 'South Tees Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T123', 'Airedale NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T139', 'Dartford and Gravesham NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T145', 'Wye Valley NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T150', 'Frimley Health NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T164', 'Milton Keynes Hospital NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T173', 'Torbay & South Devon NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T177', 'Mid and South Essex NHS Foundation Trust\xa0', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T178', 'Mid Cheshire Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T184', 'Kettering General Hospital NHS Foundation Trust', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, 'Yes', nan, nan, 'Yes', nan, nan, nan, nan, 0, 0, 0, 0, 0, 144491, 0, 0, 0, 0], ['T199', 'Rotherham NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T205', 'The Dudley Group NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T213', 'St Helens and Knowsley Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T217', 'Plymouth Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', nan, nan, nan, nan, nan, 'Yes', nan, 'Yes', nan, nan, 0, 0, 0, 0, 0, 200000, 0, 20000, 0, 0], ['T221', 'Whittington Hospital NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T235', 'York Teaching Hospital NHS Foundation Trust', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', nan, nan, 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, 0, 0, 150000, 50000, 12000, 25000, 20000, 0, 15000, 0], ['T236', 'Dorset County Hospital NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', nan, nan, nan, nan, 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, 0, 0, 0, 0, 0, 93800, 0, 3750, 0, 0], ['T246', 'Great Western Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, 'Yes', nan, 'Yes', nan, nan, nan, nan, 0, 0, 0, 59000, 0, 66495, 0, 0, 0, 0], ['T249', 'Chesterfield Royal Hospital NHS Foundation Trust', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, 0, 0, 200800, 0, 0, 0, 0, 0, 0, 0], ['T250', 'Princess Alexandra Hospital NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T262', 'James Paget University Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T264', 'Bolton NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T267', 'Royal Cornwall Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, 'Yes', nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T277', 'Croydon Health Services NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T285', 'University College London Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T301', 'Hillingdon Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, 'Yes', nan, nan, 0, 0, 0, 0, 0, 0, 0, 200000, 0, 0], ['T309', 'Somerset Partnership NHS Foundation Trust', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', nan, 'Yes', nan, nan, nan, 'Yes', nan, 'Yes', nan, 0, 0, 175000, 0, 0, 0, 0, 0, 55000, 0], ['T318', 'Royal United Hospitals Bath NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T320', "Liverpool Women's NHS Foundation Trust", 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T321', 'Barnsley Hospital NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T331', 'The Royal Free London NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T332', 'Lewisham Healthcare NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T339', 'Harrogate and District NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, 'Yes', nan, nan, nan, 'Yes', nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T350', 'Wirral University Teaching Hospital NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T351', 'University Hospitals Birmingham NHS Foundation Trust', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', nan, nan, 'Yes', 'Yes', nan, nan, nan, 'Yes', 'Yes', nan, 0, 0, 277000, 60000, 0, 0, 0, 188000, 0, 0], ['T359', 'Royal Wolverhampton Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T362', "Queen Elizabeth Hospital King's Lynn NHS Foundation Trust", 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T383', "King's College Hospital NHS Foundation Trust", 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', nan, nan, nan, 'Yes', 'Yes', nan, 'Yes', nan, nan, 8580, 0, 0, 0, 154778, 215925.3, 0, 183992.2, 0, 0], ['T389', 'Bradford Teaching Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T393', 'Royal Surrey County Hospital NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T398', 'Salisbury NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, 'Yes', nan, nan, nan, nan, 0, 0, 0, 0, 0, 127000, 0, 0, 0, 0], ['T411', 'Chelsea and Westminster Hospital NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T422', 'Countess of Chester Hospital NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T455', 'Leeds Teaching Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T456', 'Gateshead Health NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T457', 'University Hospitals of Derby and Burton NHS Foundation Trust ', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', nan, 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, 52584, 0, 48470, 72134, 0, 168122, 0, 64054, 0, 0], ['T460', "Ashford and St Peter's Hospitals NHS Foundation Trust", 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T462', 'University Hospitals of Morecambe Bay NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T463', 'County Durham and Darlington NHS Foundation Trust', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', nan, 'Yes', nan, 'Yes', nan, nan, nan, 'Yes', nan, 106123, 0, 52500, 0, 73792.24, 0, 0, 0, 0, 0], ['T466', 'Surrey and Sussex Healthcare NHS Trust', 'Yes', 'Yes', 'Yes', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', nan, nan, nan, nan, 'Yes', 'Yes', nan, nan, 'Yes', nan, 0, 0, 0, 0, 123822, 185733, 0, 0, 0, 0], ['T467', 'The Newcastle Upon Tyne Hospitals NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', nan, nan, nan, nan, nan, 'Yes', nan, 'Yes', nan, nan, 0, 0, 0, 0, 0, 63221, 0, 134287, 0, 0], ['T468', 'Northumbria Healthcare NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T487', 'North Tees and Hartlepool NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T489', 'Epsom and St Helier University Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T491', 'East Kent Hospitals University NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, 'Yes', nan, nan, nan, 'Yes', nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T492', 'North Bristol NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T504', "St George's University Hospitals NHS Foundation Trust", 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, 'Yes', nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T521', 'Kingston Hospital NHS Foundation Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T541', "Guy's and St Thomas' NHS Foundation Trust", 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T554', 'Southport and Ormskirk Hospital NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T559', 'Hull and East Yorkshire Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', nan, nan, nan, 'Yes', nan, 'Yes', nan, 'Yes', 'Yes', 'Yes', 0, 0, 0, 0, 0, 110000, 0, 102262, 0, 0], ['T562', 'West Hertfordshire Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T564', 'University Hospitals of Leicester NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T565', 'United Lincolnshire Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ['T567', 'Worcestershire Acute Hospitals NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, 'Yes', nan, nan, nan, nan, nan, 0, 0, 0, 0, 458719, 0, 0, 0, 0, 0], ['T569', 'East and North Hertfordshire NHS Trust', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [11]:
len(all_values)

116

In [26]:
print(df.iloc[11][3])

Yes

C:\Users\local_ShurlockT\Temp\ipykernel_23868\647558972.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[11][3])

In [34]:
Trust_code = df.iloc[5][2]
Trust_name = df.iloc[4][2]
SA1 = df.iloc[11][3]
SA2 = df.iloc[12][3]
SA3 = df.iloc[13][3]
SA4 = df.iloc[14][3]
SA5 = df.iloc[15][3]
SA6 = df.iloc[16][3]
SA7 = df.iloc[17][3]
SA8 = df.iloc[18][3]
SA9 = df.iloc[19][3]
SA10 = df.iloc[20][3]

SA1_AP = df.iloc[11][4]
SA2_AP = df.iloc[12][4]
SA3_AP = df.iloc[13][4]
SA4_AP = df.iloc[14][4]
SA5_AP = df.iloc[15][4]
SA6_AP = df.iloc[16][4]
SA7_AP = df.iloc[17][4]
SA8_AP = df.iloc[18][4]
SA9_AP = df.iloc[19][4]
SA10_AP = df.iloc[20][4]

SA1_FR = df.iloc[11][5]
SA2_FR = df.iloc[12][5]
SA3_FR = df.iloc[13][5]
SA4_FR = df.iloc[14][5]
SA5_FR = df.iloc[15][5]
SA6_FR = df.iloc[16][5]
SA7_FR = df.iloc[17][5]
SA8_FR = df.iloc[18][5]
SA9_FR = df.iloc[19][5]
SA10_FR = df.iloc[20][5]

C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Trust_code = df.iloc[5][2]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Trust_name = df.iloc[4][2]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA1 = df.iloc[11][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA2 = df.iloc[12][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA3 = df.iloc[13][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA4 = df.iloc[14][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA5 = df.iloc[15][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA6 = df.iloc[16][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA7 = df.iloc[17][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA8 = df.iloc[18][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA9 = df.iloc[19][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA10 = df.iloc[20][3]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA1_AP = df.iloc[11][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA2_AP = df.iloc[12][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA3_AP = df.iloc[13][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA4_AP = df.iloc[14][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA5_AP = df.iloc[15][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA6_AP = df.iloc[16][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA7_AP = df.iloc[17][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA8_AP = df.iloc[18][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:22: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA9_AP = df.iloc[19][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA10_AP = df.iloc[20][4]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:25: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA1_FR = df.iloc[11][5]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA2_FR = df.iloc[12][5]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:27: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA3_FR = df.iloc[13][5]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:28: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA4_FR = df.iloc[14][5]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA5_FR = df.iloc[15][5]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:30: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA6_FR = df.iloc[16][5]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA7_FR = df.iloc[17][5]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:32: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA8_FR = df.iloc[18][5]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:33: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA9_FR = df.iloc[19][5]
C:\Users\local_ShurlockT\Temp\ipykernel_23868\3832884910.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  SA10_FR = df.iloc[20][5]

In [36]:
print(Trust_code)
print(Trust_name)
print(SA1)
print(SA2)
print(SA3)
print(SA4)
print(SA5)
print(SA6)
print(SA7)
print(SA8)
print(SA9)
print(SA10)
print()
print('new stuff')
print()
print(SA1_AP)
print(SA2_AP)
print(SA3_AP) 
print(SA4_AP)
print(SA5_AP) 
print(SA6_AP)
print(SA7_AP)
print(SA8_AP)
print(SA9_AP)
print(SA10_AP)
print()
print('Finance')
print()
print(SA1_FR) 
print(SA2_FR) 
print(SA3_FR)
print(SA4_FR)
print(SA5_FR)
print(SA6_FR)
print(SA7_FR)
print(SA8_FR)
print(SA9_FR)
print(SA10_FR)

T236
Dorset County Hospital NHS Foundation Trust
Yes
Yes
Yes
Yes
No
No
No
No
No
Yes

new stuff

nan
nan
nan
nan
Yes
Yes
Yes
Yes
Yes
nan

Finance

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [13]:
Think="Trust_code Trust_name SA1 SA2 SA3 SA4 SA5 SA6 SA7 SA8 SA9 SA10 SA1_AP SA2_AP SA3_AP SA4_AP SA5_AP SA6_AP SA7_AP SA8_AP SA9_AP SA10_AP SA1_FR SA2_FR SA3_FR SA4_FR SA5_FR SA6_FR SA7_FR SA8_FR SA9_FR SA10_FR"

In [14]:
These_Cols=Think.split()

In [15]:
print(These_Cols)

['Trust_code', 'Trust_name', 'SA1', 'SA2', 'SA3', 'SA4', 'SA5', 'SA6', 'SA7', 'SA8', 'SA9', 'SA10', 'SA1_AP', 'SA2_AP', 'SA3_AP', 'SA4_AP', 'SA5_AP', 'SA6_AP', 'SA7_AP', 'SA8_AP', 'SA9_AP', 'SA10_AP', 'SA1_FR', 'SA2_FR', 'SA3_FR', 'SA4_FR', 'SA5_FR', 'SA6_FR', 'SA7_FR', 'SA8_FR', 'SA9_FR', 'SA10_FR']

In [16]:
df_Result =pd.DataFrame(columns= These_Cols, data=all_values)

# Display the DataFrame
print(df_Result)

    Trust_code                                         Trust_name  SA1  SA2  \
0         F001          Hampshire Hospitals NHS Foundation Trust   Yes  Yes
1         T011  The Norfolk and Norwich University Hospitals N...  Yes  Yes
2         T013  University Hospitals Coventry and Warwickshire...  Yes  Yes
3         T014                    George Eliot Hospital NHS Trust  Yes  Yes
4         T016    University Hospital of North Midlands NHS Trust  Yes  Yes
..         ...                                                ...  ...  ...
111       T687             North West Anglia NHS Foundation Trust  Yes  Yes
112       T688         Manchester University NHS Foundation Trust  Yes  Yes
113       T690      East Suffolk North Essex NHS Foundation Trust  Yes  Yes
114       T691  South Tyneside and Sunderland NHS Foundation T...  Yes  Yes
115       T694   University Hospitals Dorset NHS Foundation Trust  Yes  Yes

     SA3  SA4  SA5  SA6  SA7  SA8  ... SA1_FR SA2_FR SA3_FR  SA4_FR SA5_FR  \
0    Yes  Yes  Yes  Yes  Yes  Yes  ...    0.0      0      0       0    0.0
1    Yes  Yes  Yes  Yes  Yes  Yes  ...    0.0      0      0       0    0.0
2    Yes  Yes  Yes  Yes  Yes  Yes  ...    0.0      0      0       0    0.0
3    Yes  Yes  Yes  Yes  Yes  Yes  ...    0.0      0      0       0    0.0
4    Yes  Yes  Yes  Yes  Yes  Yes  ...    0.0      0      0       0    0.0
..   ...  ...  ...  ...  ...  ...  ...    ...    ...    ...     ...    ...
111  Yes  Yes  Yes  Yes  Yes  Yes  ...    0.0      0      0       0    0.0
112  Yes  Yes  Yes  Yes  Yes  Yes  ...    0.0      0      0       0    0.0
113  Yes  Yes  Yes  Yes  Yes  Yes  ...    0.0      0      0       0    0.0
114  Yes  Yes  Yes  Yes  Yes  Yes  ...    0.0      0      0       0    0.0
115  Yes   No  Yes   No  Yes   No  ...    0.0      0      0  145200    0.0

    SA6_FR SA7_FR    SA8_FR SA9_FR SA10_FR
0      0.0      0       0.0    0.0       0
1      0.0      0       0.0    0.0       0
2      0.0      0       0.0    0.0       0
3      0.0      0       0.0    0.0       0
4      0.0      0       0.0    0.0       0
..     ...    ...       ...    ...     ...
111    0.0      0       0.0    0.0       0
112    0.0      0       0.0    0.0       0
113    0.0      0       0.0    0.0       0
114    0.0      0       0.0    0.0       0
115    0.0      0  198800.0    0.0       0

[116 rows x 32 columns]

In [18]:
df_Result.to_csv("results_2022_Y5.csv")

In [9]:
# initialize list of lists 
data = []
import random

for i in range(4):
    listy=[]
    for j in range(3):
        listy.append(random.randint(1, 10))
        data.append(listy)

print(data)

[[1, 10, 4], [1, 10, 4], [1, 10, 4], [5, 9, 10], [5, 9, 10], [5, 9, 10], [8, 10, 7], [8, 10, 7], [8, 10, 7], [6, 2, 1], [6, 2, 1], [6, 2, 1]]

In [10]:
# Create the pandas DataFrame 
dfa = pd.DataFrame(data, columns = ['Name', 'Age', 'Bum']) 
 
# print dataframe. 
print(dfa)

    Name  Age  Bum
0      1   10    4
1      1   10    4
2      1   10    4
3      5    9   10
4      5    9   10
5      5    9   10
6      8   10    7
7      8   10    7
8      8   10    7
9      6    2    1
10     6    2    1
11     6    2    1

In [35]:
'''def read_excel_data():
    try:
        # Read the Excel file
        df = pd.read_excel('T236_single_sheet.xlsx')
        
        # Get data from cell D4
        cell_value = df.iloc[3, 3]  # 0-based indexing, so D4 is [3,3]
        print("Value from cell D4:", cell_value)
        
        return df
    except FileNotFoundError:
        print("Excel file not found. Please make sure the file exists in the current directory.")
    except Exception as e:
        print(f"An error occurred: {e}")

if __name__ == "__main__":
    df = read_excel_data()'''

'def read_excel_data():\n    try:\n        # Read the Excel file\n        df = pd.read_excel(\'T236_single_sheet.xlsx\')\n        \n        # Get data from cell D4\n        cell_value = df.iloc[3, 3]  # 0-based indexing, so D4 is [3,3]\n        print("Value from cell D4:", cell_value)\n        \n        return df\n    except FileNotFoundError:\n        print("Excel file not found. Please make sure the file exists in the current directory.")\n    except Exception as e:\n        print(f"An error occurred: {e}")\n\nif __name__ == "__main__":\n    df = read_excel_data()'